  
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="title-text text-center">Your savings so far!</h1>
      <br>
      <h4 class="title-text">The below graph shows the hard work you have put in so far. </h4>
      <h4 class="title-text">Click on the blue savings line to get a detailed view of your savings contributions</h4>
<br>
      <div class="well">
        <p id="notice"><%= notice %></p>
        <%= high_chart("my_id4", @chart)  %>

      </div>     
    </div>   
  </div>
</div>
